openapi: 3.0.0
info:
  version: 0.2.0
  title: Momspt service server API(21.10.26)
  description: 맘스피티 어플리케이션의 API 리스트입니다.
  license:
    name: MIT License
    url: https://spdx.org/licenses/MIT.html
  contact:
    name: HyunminLee
    email: gusals005@gmail.com
servers:
  - description : '프로젝트 cloud 배포 server'
    url: https://app.fitsionary.com/
  - description : '프로젝트 로컬 버전 server'
    url: http://localhost:3000/
paths:
  /user/signup:
    post:
      summary: 회원가입 API
      description: 처음 유저를 생성할 때 사용되는 회원가입 API입니다.
      tags:
        - User-Controller
      consumes:
        - "application/json"
      parameters:
        - in: body
          name: body
          description: 회원가입 요청 시 request 양식
          required: true
          schema:
            $ref: '#/DataForm/Signup'
      responses:
        '201':
          $ref: '#/components/responses/SignupSuccess201'
        '400':
          $ref: '#/components/responses/BadRequestUserExist400'
  /user/withdrawal:
    delete:
      summary: 회원탈퇴 API
      description: 유저가 회원탈퇴 시 사용되는 API입니다.
      tags:
        - User-Controller
      consumes:
        - "application/json"
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
      responses:
        '200':
          $ref: '#/components/responses/WithdrawalSuccess200'
        '400':
          $ref: '#/components/responses/BadRequestUserExist400'
  /user/login:
    post:
      summary: 로그인 API
      description: 로그인 시 작동하는 API입니다.
      tags:
        - User-Controller
      consumes:
        - "application/json"
      parameters:
        - in: body
          name: body
          description: Login 시 request 형식 
          required: true
          schema:
            $ref: '#/DataForm/Login'
      responses:
        '200':
          $ref: '#/components/responses/LoginSuccess200'
        '400':
          $ref: '#/components/responses/BadRequest400'
  /user/nicknameduplicate?nickname={nickname}:
    get:
      summary: 닉네임 중복 검사 API
      description: 회원가입 시 닉네임이 중복인지 체크하는 API입니다.
      tags:
        - User-Controller
      consumes:
        - application/json
      parameters:
        - in: query
          name: nickname
          description: 닉네임 중복 검사 시 query의 내용
          required: true
          schema:
            type: string
            example: fitsionary
      responses:
        '200':
          $ref: '#/components/responses/NicknameDuplicateSuccess'
        '400':
          $ref: '#/components/responses/NicknameDuplicateBad'
  /user/daycomment:
    get:
      summary: 오늘의 D-day와 Comment API
      description: 임신한 후 날짜와 운동 Comment에 대해서 제공을 받는 API
      tags:
        - User-Infomation
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
      responses:
        '200':
          $ref: '#/components/responses/DayComment200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /workout/workoutlist:
    get:
      summary: 유저의 오늘 운동 리스트 API
      description: 오늘 해야할 운동에 대해서 제공받는 API이다.
      tags:
        - Workout
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
      responses:
        '200':
          $ref: '#/components/responses/TodayWorkoutList200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
    post:
      summary: 유저의 x단계 y일차 운동 리스트 API
      description: x단계 y일차에 해야할 운동에 대해서 제공받는 API이다.
      tags:
        - Workout
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
        - in: body
          name: Step
          description: x단계 y일차에 대한 search 중 x 단계에 해당하는 값이다.
          required: true
          schema:
            type: number
            example: 2
        - in: body
          name: Day
          description: x단계 y일차에 대한 search 중 y 일차에 해당하는 값이다.
          required: true
          schema:
            type: number
            example: 5
      responses:
        '200':
          $ref: '#/components/responses/TodayWorkoutList200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /workout/workoutinfo?workoutcode={workoutcode}:
    get:
      summary: 운동 상세정보 제공 API
      description: 운동에 대한 상세정보를 제공받는 API이다.
      tags:
        - Workout
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
        - in: query
          name: workoutcode
          description: 운동의 workoutcode를 query로 전달
          required: true
          schema:
            type: string
            example: W001
      responses:
        '200':
          description: 올바른 요청입니다.
          content:
            application/json:
              schema:
                $ref: '#/DataForm/Workout'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /workout/workoutresult:
    post:
      summary: 운동 결과 입력 API
      description: 운동이 종료된 후 운동 결과를 전송하는 API이다.
      tags:
        - Workout
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
        - in: body
          name: Workout Result
          description: 운동 결과에 대한 정보
          required: true
          schema:
            $ref: '#/DataForm/WorkoutResult'
      responses:
        '200':
          $ref: '#/components/responses/WorkoutResult200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /workout/weeklyworkoutstatistics:
    get:
      summary: 주간 운동 달성일 확인 API
      description: 일주일간 운동한 양에 대한 정보를 제공하는 API이다.
      tags:
        - Workout
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
      responses:
        '200':
          $ref: '#/components/responses/WeeklyData200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /workout/keypoints?workoutcode={workoutcode}:
    get:
      summary: Workout의 keypoints 받기 API
      description: workout의 keypoints를 받을 수 있는 API이다.
      tags:
        - Workout
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
        - in: query
          name: workoutcode
          description: 운동의 workoutcode를 query로 전달
          required: true
          schema:
            type: string
            example: W001
      responses:
        '200':
          $ref: '#/components/responses/Keypoints200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /daily/day/todayanalysis:
    get:
      summary: 오늘 운동량 정보 받기 API
      description: 오늘 운동한 양에 대해서 받을 수 있는 API이다.
      tags:
        - Daily
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
      responses:
        '200':
          $ref: '#/components/responses/TodayAnalysis200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /daily/day/weeklystatistics:
    get:
      summary: 일주일간 운동량 및 체중 그래프 API
      description: 일주일 동안의 기록을 제공하는 API입니다.
      tags:
        - Daily
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
      responses:
        '200':
          $ref: '#/components/responses/weeklystatistics200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /daily/day/weight:
    post:
      summary: 몸무게 입력 API
      description: 오늘의 몸무게를 입력하는 API입니다.
      tags:
        - Daily
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
        - in: body
          name: weight
          description: 몸무게에 대한 정보입니다.
          required: true
          schema:
            type: number
            example: 54.5
      responses:
        '200':
          $ref: '#/components/responses/WeightSuccess200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /daily/month/monthlystatistics?year={year}&month={month}:
    get:
      summary: 한 달의 운동량 API
      description: 한 달의 운동량과 기록을 제공하는 API입니다.
      tags:
        - Daily
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
        - in: query
          name: year
          description: 년도에 대한 정보를 입력합니다.
          required: true
          schema:
            type: number
            example: 2021
        - in: query
          name: month
          description: 몇 번째 달을 검색할 것인지 알려주어야 동작합니다.
          required: true
          schema:
            type: number
            example: 10
      responses:
        '200':
          $ref: '#/components/responses/monthlystatistics200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /day/month/detailstatistics:
    post:
      summary: 하루 운동량에 대한 정보 API
      description: 달력형 데일리 차트에서 하루 운동량을 제공하는 API입니다.
      tags:
        - Daily
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
        - in: body
          name: date
          description: 날짜를 입력해야 동작합니다.
          required: true
          schema:
            type: object
            properties:
              date:
                type: string
                example: "2021-09-05"
      responses:
        '200':
          $ref: '#/components/responses/detailstatistics200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /mypage/info:
    get:
      summary: 마이페이지 내 정보 제공 API
      description: mypage에서 쓰이는 정보를 제공해주는 API입니다.
      tags:
        - User-Infomation
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
      responses:
        '200':
          description: 올바른 요청입니다.
          content:
            application/json:
              schema:
                $ref: '#/DataForm/mypageUserInfo'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
    post:
      summary: 마이페이지 내 정보를 수정하는 API
      description: mypage에서 쓰이는 정보를 수정하는 API입니다.
      tags:
        - User-Infomation
      consumes:
        - application/json
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
        - in: body
          name: nickname
          description: 닉네임을 변경합니다.
          required: true
          schema:
            type: object
            properties:
              nickname:
                type: string
                example: fit
        - in: body
          name: babyName
          description: 아이의 태명을 변경합니다.
          required: true
          schema:
            type: object
            properties:
              babyName:
                type: string
                example: 튼튼이
      responses:
        '200':
          $ref: '#/components/responses/Success200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
  /mypage/profile:
    post:
      summary: 마이페이지 프로필 사진 설정 API
      description: mypage에서 사진을 설정할 때 사용하는 API 입니다.
      tags:
        - User-Infomation
      consumes:
        - image/*
      parameters:
        - in: header[x-access-token]
          name: KakaoToken
          description: Kakao 소셜 로그인 후 Access-token을 header에 실어서 전송
          required: true
          schema:
            type: string
            example: oYrz6zcyIVrNg_q3YefCDiN7FJvPOCh6CAkuSworDNMAAAF7yNc8mA
        - in: body
          name: file
          description: API 호출 시 사진을 body로 보내야 함.
          required: true
          schema:
            type: string
            example: test_image.png
      responses:
        '201':
          $ref: '#/components/responses/Profile200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/KakaoBad401'
      



components:
  parameters: null
  schemas:
    User:
      type: object
      required:
        - _id
        - name
      properties:
        _id:
          type: number
          description: id
        name:
          type: string
          description: 유저 이름
  responses:
    Success200:
      description: 올바른 요청입니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: true
            message: 정상적으로 처리되었습니다.
    SignupSuccess201:
      description: 요청하신 데이터로 회원정보를 생성합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/signup201'
    WithdrawalSuccess200:
      description: 회원정보를 삭제합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: true
            massage: 정상적으로 요청을 수행했습니다.
    BadRequestUserExist400:
      description: 해당 정보를 가진 유저가 존재합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: false
            message: 해당 kakaoId를 가진 유저가 존재합니다.
    LoginSuccess200:
      description: 로그인을 성공하였습니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/login200'
    NicknameDuplicateSuccess:
      description: 중복된 닉네임이 없습니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: true
            message: 중복된 닉네임이 없습니다.
    NicknameDuplicateBad:
      description: 해당 닉네임이 중복되었습니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: false
            message: 해당 닉네임를 가진 유저가 존재합니다.
    DayComment200:
      description: 올바른 요청이므로 정보를 제공합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/daycomment200'
    DayComment400:
      description: 해당 정보를 가진 유저가 없습니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: false
            message: 해당 정보를 가진 유저가 없습니다.
    TodayWorkoutList200:
      description: 올바른 요청이므로 정보를 제공합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/todayworkoutlist'
    TodayWorkoutList400:
      description: 해당 정보를 가진 유저가 없습니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: false
            message: 해당 정보를 가진 유저가 없습니다.
    WorkoutInfo200:
      description: 올바른 요청이므로 정보를 제공합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/workout'
    WorkoutInfo400:
      description: 해당 정보를 가진 운동이 없습니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: false
            message: 해당 정보를 가진 운동이 없습니다.
    WorkoutResult200:
      description: 올바른 요청이므로 데이터를 정상적으로 처리합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/workoutResult200'
    WorkoutResult400:
      description: 요청하신 정보에 해당하는 데이터가 없습니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: true
            message: 요청하신 정보에 해당하는 데이터가 없습니다.
    WeeklyData200:
      description: 올바른 요청이므로 정보를 제공합니다.
      content:
        application/json:
          schema: 
            $ref: '#/components/ResponseFormat/weeklydata'
    WeeklyData400:
      description: 요청하신 정보에 해당하는 데이터가 없습니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: false
            message: 요청하신 정보에 해당하는 데이터가 없습니다.
    Keypoints200:
      description: 올바른 요청이므로 정보를 제공합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/keypoints'
    weeklystatistics200:
      description: 올바른 요청이므로 정보를 제공합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/weeklystatistics'
    WeightSuccess200:
      description: 올바른 요청이므로 정보를 제공합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: true
            message: 정상적으로 몸무게를 저장했습니다.
    monthlystatistics200:
      description: 올바른 요청이므로 정보를 제공합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/monthlystatistics'
    detailstatistics200:
      description: 올바른 요청이므로 정보를 제공합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/detailstatistics'
    TodayAnalysis200:
      description: 올바른 요청이므로 정보를 제공합니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/todayanalysis'
    BadRequest400:
      description: 요청하신 정보와 일치하는 데이터가 없습니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: false
            message: 요청하신 정보와 일치하는 데이터가 없습니다.        
    KakaoBad401:
      description: 카카오 인증이 되어 있지 않습니다.
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: false
            message: 카카오 인증이 유효하지 않습니다.
    Profile200:
      description: 프로필이 정상적으로 변경되었습니다.
      content:
        application/json:
          example:
            success: true
            profile: http://d29r6pfiojlanv.cloudfront.net/profile/e8a530ca852ec1cac22fd35bb93f8072.png
    InternalServerError:
      description: 서버 에러
      content:
        application/json:
          schema:
            $ref: '#/components/ResponseFormat/baseFormat'
          example:
            success: false
            message: 서버 내부 오류
    
  ResponseFormat:
    baseFormat:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    signup201: 
      type: object
      properties:
        success:
          type: boolean
        user:
          $ref: '#/DataForm/Signup'
    login200:
      type: object
      properties:
        success: 
          type: boolean
        user:
          $ref: '#/DataForm/Signup'
    daycomment200:
      type: object
      properties:
        success:
          type: boolean
        dayAfterBabyDue:
          type: number
          format: integer
          example: 25
        step:
          type: number
          example: 3
        day:
          type: number
          example: 2
        comment:
          type: string
          example: 임신 기간 중 약화된 근력과 체형\n 변형으로 뻣뻣해진 관절의 유연성\n을 회복시켜주는 가벼운 스트레칭부터 시작
    workoutResult200:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "정상적으로 운동 결과를 저장했습니다."
        workout:
          $ref: '#/DataForm/Workout'
    todayworkoutlist:
      type: array
      items:
        type: object
        properties:
          id:
            type: number
            example: 2
          name:
            type: string
            example: "앉아서 숨쉬기"
          workoutCode:
            type: string
            example: "W001"
          explanation:
            type: string
            example: "출산 후 가장 필수적이면서 기본이 되는 운동입니다. 혈액순환 및 림프 순환을 촉진 시켜 부종 해소에 효과적이고, 복근을 회복시켜주는데 도움을 줍니다."
          calorie:
            type: number
            example: 4
          playtime:
            type: number
            example: 74
          thumbnail:
            type: string
            example: "http://d29r6pfiojlanv.cloudfront.net/hipbridge_thumbnail.png"
          video:
            type: string
            example: "http://d29r6pfiojlanv.cloudfront.net/hipbridge.mp4"
          videoCode:
            type: string
            example: V002
          ai:
            type: Boolean
            example: true
          workoutAnanlysisType:
            type: string
            example: COUNTING
          videoCheckTime:
            type: array
            items:
              type: object
              properties:
                workoutStartTime:
                  type: number
                  example: 15
                workoutFinishTime:
                  type: number
                  example: 74
          type:
            type: array
            items:
              type: string
              example: 스트레칭
          effect:
            type: array
            items:
              type: string
              example: 혈액 순환
          history:
            type: object
            properties:
              score:
                type: string
                example: A_PLUS
              pause_time:
                type: number
                example: 0
    weeklydata:
      type: array
      items:
        type: object
        properties:
          order:
            type: number
            example: 1
          done:
            type: number
            example: 2
          totalWorkout:
            type: number
            example: 3
    keypoints:
      type: array
      items:
        type: object
        properties:
          workout:
            type: string
            example: W001.mp4
          height:
            type: number
            example: 720
          width:
            type: number
            example: 540
          posedata:
            type: array
            items:
              type: object
              properties:
                frame:
                  type: number
                  example: 0
                landmarks:
                  type: array
                  items:
                    type: object
                    properties:
                      part:
                        type: string
                        example: "PoseLandmark.NOSE"
                      x:
                        type: number
                        example: 0.30441442131996155
                      y:
                        type: number
                        example: 0.6646477580070496
                      z:
                        type: number
                        example: -0.020113203674554825
                      visibility:
                        type: number
                        example: 0.9995700716972351
    todayanalysis:
      type: object
      properties:
        time:
          type: number
          example: 600
        kcal:
          type: number
          example: 120
        weight:
          type: number
          example: 57.4
        bodyType:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
                example: 1
              name:
                type: string
                example: 기본 체형
              explanation:
                type: string
                example: "출산 후 기본 체형에 해당합니다."
    weeklystatistics:
      type: array
      items:
        type: object
        properties:
          order:
            type: number
            example: 1
          workoutTime:
            type: number
            example: 360
          weight:
            type: number
            example: 56.4
    monthlystatistics:
      type: object
      properties:
        count:
          type: number
          example: 5
        time:
          type: number
          example: 5600
        step:
          type: string
          example: "2, 3"
        monthlyStatistics:
          type: array
          items:
            type: object
            properties:
              day:
                type: number
                example: 1
              status:
                type: string
                example: "COMPLETE or SOME or NONE"
    detailstatistics:
      type: array
      items:
        type: object
        properties:
          time:
            type: number
            example: 330
          kcal:
            type: number
            example: 115
          step:
            type: number
            example: 2
          day:
            type: number
            example: 8
          workout:
            $ref: '#/components/ResponseFormat/todayworkoutlist'
          
tags:
  - name: User-Controller
    description: 유저의 생성/수정과 관련된 API들 모음
  - name: User-Infomation
    description: 유저의 정보에 대한 API들 모음
  - name: Workout
    description: 운동과 관련된 API들 모음
  - name: Daily
    description: 운동량 통계에 대한 API 모음
DataForm:
  Signup:
    type: object
    properties:
      nickname:
        type: string
        example: fitsionary
      babyDue:
        type: string
        format: date
        example: "2021-09-15"
      weightBeforePregnancy:
        type: number
        format: "double"
        example: 54.6
      weightNow:
        type: number
        format: double
        example: 58.3
      heightNow:
        type: number
        format: double
        example: 164.3
      kakaoId:
        type: number
        format: integer
        example: 1896724603
  Login:
    type: object
    properties:
      kakaoId:
        type: number
        format: integer
        example: 1896724603
  Nickname:
    type: object
    properties:
      nickname:
        type: string
        format: string
        example: fitsionary
  Workout:
    type: object
    properties:
      id:
        type: number
        example: 2
      name:
        type: string
        example: "앉아서 숨쉬기"
      workoutCode:
        type: string
        example: "W001"
      explanation:
        type: string
        example: "출산 후 가장 필수적이면서 기본이 되는 운동입니다. 혈액순환 및 림프 순환을 촉진 시켜 부종 해소에 효과적이고, 복근을 회복시켜주는데 도움을 줍니다."
      calorie:
        type: number
        example: 4
      playtime:
        type: number
        example: 74
      thumbnail:
        type: string
        example: "http://d29r6pfiojlanv.cloudfront.net/hipbridge_thumbnail.png"
      video:
        type: string
        example: "http://d29r6pfiojlanv.cloudfront.net/hipbridge.mp4"
      videoCode:
        type: string
        example: V002
      ai:
        type: Boolean
        example: true
      workoutAnalysisType:
        type: string
        example : COUNTING  
      videoCheckTime:
        type: array
        items:
          type: object
          properties:
            workoutStartTime:
              type: number
              example: 15
            workoutFinishTime:
              type: number
              example: 74
      type:
        type: array
        items:
          type: string
          example: 스트레칭
      effect:
        type: array
        items:
          type: string
          example: 혈액 순환
      history:
        type: object
        properties:
          score:
            type: string
            example: A_PLUS
          pause_time:
            type: number
            example: 0
  History:
    type: object
    properties:
      isfinish:
        type: boolean
        example: true
      pause_time:
        type: number
        example: 0
      score:
        type: string
        example: B_PLUS
  WorkoutResult:
    type: object
    properties:
      workout_id:
        type: number
        example: 1
      date:
        type: string
        format: date
        example: "2021-09-05"
      score:
        type: string
        example: "A_PLUS"
  mypageUserInfo:
    type: object
    properties:
      nickname:
        type: string
        example: fitsionary
      babyName:
        type: string
        example: 튼튼이
      dayAfterBabyDue:
        type: number
        example: 40
      thumbnail:
        type: string
        example: http://d29r6pfiojlanv.cloudfront.net/hipbridge_thumbnail.png

